@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  gap: 2pc;
  background: rgb(35, 39, 33);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  gap: 3pc;
  width: 90%; /* Use a percentage for responsiveness */
  max-width: 500px; /* Limit maximum width */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  gap: 1rem; /* Use rem for better scalability */
  background: rgb(45, 47, 56);
  display: flex;
  align-items: center;
  border-radius: 6px 19px;
  padding: 10px;
  width: 100%; /* Full width */
}

img#AddTodo {
  background: #ff0047;
  border-radius: 35%;
  cursor: pointer;
  width: 25px;
}

#ToDoInput {
  border-radius: 6px;
  border: 0.1px solid #e91e63;
  padding: 5px;
  color: white;
  outline: none;
  background: transparent;
  flex: 1; /* Allow input to take up available space */
}

.box {
  overflow: hidden;
  position: relative;
  background: #2d2f38;
  width: 100%; /* Use 100% of the container */
  padding: 9px;
  border-radius: 5px;
  display: flex;
  padding: 6px;
}

.box .in {
  z-index: 1;
  position: relative;
  overflow: hidden;
  color: white;
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  background: #232721;
}

.box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 600px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  animation: move 1.5s infinite;
}

#TODO {
  display: flex;
  gap: 6px;
  flex-direction: column;
}

.ToDoList {
  border: 3px solid #2d2f38;
  border-radius: 5px 9px;
  padding: 2px 5px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  display: flex;
  background: none;
  border: none;
  padding: 4px;
}

.TodoIcon {
  display: flex;
  align-items: center;
  align-content: center;
}

.checkBox,
.Delete {
  border-radius: 35%;
  cursor: pointer;
  width: 25px;
}

.TodoText {
  display: flex;
}

@keyframes move {
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(255deg);
  }
}

@media (max-width: 600px) {
  .top {
    align-items: stretch; 
  }

  img#AddTodo {
    width: 20px;
  }

  #ToDoInput {
    margin-bottom: 10px; 
  }

  .box {
    padding: 5px; 
  }

  .ToDoList {
    padding: 5px; 
  }
}
